<form [formGroup]="chartSearch" (ngSubmit)="onSubmit()">
  <label>
    Your First Name:
    <input type="text" formControlName="firstName" id="first-name" />
  </label>
  <label>
    Date of Birth:
    <input type="date" formControlName="birthDate" id="date-of-birth" />
  </label>
  <button type="submit">Find Charts</button>
</form>
<div class="test-answer">
  <p>Name: {{ newUser }}</p>
  <p>DOB: {{ newDate }}</p>
</div>
<div class="results-test">
  <h3>Will results show up?</h3>
  <app-results></app-results>
</div>
